<turbo-frame id="message_frame_{{ message.id }}" target="_top">
  <form action="/messages/{{ message.id }}" method="POST">
    <input type="text" name="content" id="content" value="{{ message.content }}" />
    <button type="submit">Send</button>
  </form>
</turbo-frame>