<form action="/messages" method="POST" data-controller="reset-form" data-action="turbo:submit-end->reset-form#reset">
  <input type="text" name="content" id="content">
  <button type="submit">Create New Message</button>
</form>